# Assignment 2 : SMS Spam Classification
# Rishika Tibrewal, MDS202135

## Importing Libraries

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## Looking into the Data

In [8]:
raw_data = pd.read_csv("SMSSpamCollection",sep='/t',header=None,names=['Label','Text'])
raw_data.head()

C:\Users\Rishika Tibrewal\AppData\Local\Temp\ipykernel_10204\2275730191.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  raw_data = pd.read_csv("SMSSpamCollection",sep='/t',header=None,names=['Label','Text'])

                                               Label  Text
0  ham\tGo until jurong point, crazy.. Available ...  None
1                 ham\tOk lar... Joking wif u oni...  None
2  spam\tFree entry in 2 a wkly comp to win FA Cu...  None
3  ham\tU dun say so early hor... U c already the...  None
4  ham\tNah I don't think he goes to usf, he live...  None

In [9]:
raw_data.isna().sum()

Label       0
Text     5550
dtype: int64

In [10]:
raw_data.groupby('Label').describe()

                                                    Text
                                                   count unique  top freq
Label
ham\t &lt;#&gt;  in mca. But not conform.              0      0  NaN  NaN
ham\t &lt;#&gt;  mins but i had to stop somewhe...     0      0  NaN  NaN
ham\t &lt;DECIMAL&gt; m but its not a common ca...     0      0  NaN  NaN
ham\t and  picking them up from various points         0      0  NaN  NaN
ham\t came to look at the flat, seems ok, in hi...     0      0  NaN  NaN
...                                                  ...    ...  ...  ...
spam\ttodays vodafone numbers ending with 0089(...     0      0  NaN  NaN
spam\tu r a winner U ave been specially selecte...     0      0  NaN  NaN
spam\tu r subscribed 2 TEXTCOMP 250 wkly comp. ...     0      0  NaN  NaN
spam\twamma get laid?want real doggin locations...     0      0  NaN  NaN
spam\twe tried to contact you re your response ...     0      0  NaN  NaN

[5160 rows x 4 columns]

Assigning the label 'spam' as 1 and 'ham' as 0

In [11]:
raw_data.loc[raw_data.Label == 'spam', 'Label'] = 1
raw_data.loc[raw_data.Label == 'ham', 'Label'] = 0

## Splitting data into Training, Validation and Test Set and saving them as csv

In [12]:
X_train, X_test, y_train, y_test = train_test_split(raw_data.Text, raw_data['Label'], test_size=0.15, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.15, random_state=42)

In [13]:
len(X_train),len(y_train)

(4026, 4026)

In [14]:
X_train.head()

1131    None
3306    None
3491    None
2217    None
942     None
Name: Text, dtype: object

In [15]:
y_train.head()

1131                       ham\tHowz pain?hope u r fine..
3306    ham\tEe msg na poortiyagi odalebeku: Hanumanji...
3491    ham\tHuh but i got lesson at 4 lei n i was thi...
2217    ham\tOK i'm waliking ard now... Do u wan me 2 ...
942     ham\tTheyre doing it to lots of places. Only h...
Name: Label, dtype: object

In [16]:
y_train.value_counts()

ham\tSorry, I'll call later                                                                                                                                     24
ham\tI cant pick the phone right now. Pls send a message                                                                                                        11
ham\tOk...                                                                                                                                                      10
ham\tOk.                                                                                                                                                         4
ham\tOkie                                                                                                                                                        4
                                                                                                                                                                ..
ham\tSac will score big hundred.he is set batsman:-)                                                                                                             1
ham\ton hen night. Going with a swing                                                                                                                            1
ham\tK.:)you are the only girl waiting in reception ah?                                                                                                          1
ham\tBeautiful tomorrow never comes.. When it comes, it's already TODAY.. In the hunt of beautiful tomorrow don't waste your wonderful TODAY.. GOODMORNING:)     1
ham\tWe live in the next  &lt;#&gt; mins                                                                                                                         1
Name: Label, Length: 3786, dtype: int64

In [17]:
y_val.value_counts()

ham\tSorry, I'll call later                                                                                                                                                3
spam\tWan2 win a Meet+Greet with Westlife 4 U or a m8? They are currently on what tour? 1)Unbreakable, 2)Untamed, 3)Unkempt. Text 1,2 or 3 to 83049. Cost 50p +std text    2
ham\tPrabha..i'm soryda..realy..frm heart i'm sory                                                                                                                         2
ham\tSingle line with a big meaning::::: "Miss anything 4 ur "Best Life" but, don't miss ur best life for anything... Gud nyt...                                           2
ham\tGod picked up a flower and dippeditinaDEW, lovingly touched itwhichturnedinto u, and the he gifted tomeandsaid,THIS FRIEND IS 4U                                      2
                                                                                                                                                                          ..
ham\tI accidentally brought em home in the box                                                                                                                             1
ham\tU too...                                                                                                                                                              1
ham\tHaha... Where got so fast lose weight, thk muz go 4 a month den got effect... Gee,later we go aust put bk e weight.                                                   1
ham\tAlright omw, gotta change my order to a half8th                                                                                                                       1
ham\tHi baby ive just got back from work and i was wanting to see u allday! I hope i didnt piss u off on the phone today. If u are up give me a call xxx                   1
Name: Label, Length: 703, dtype: int64

In [18]:
y_test.value_counts()

ham\tSorry, I'll call later                                                                                                                                                 3
ham\tOk                                                                                                                                                                     2
spam\tURGENT!! Your 4* Costa Del Sol Holiday or £5000 await collection. Call 09050090044 Now toClaim. SAE, TC s, POBox334, Stockport, SK38xh, Cost£1.50/pm, Max10mins       2
ham\tWhatsup there. Dont u want to sleep                                                                                                                                    2
ham\tOh ho. Is this the first time u use these type of words                                                                                                                2
                                                                                                                                                                           ..
ham\t"Gimme a few" was  &lt;#&gt;  minutes ago                                                                                                                              1
spam\tYou have an important customer service announcement. Call FREEPHONE 0800 542 0825 now!                                                                                1
ham\tJust sent it. So what type of food do you like?                                                                                                                        1
spam\tWant 2 get laid tonight? Want real Dogging locations sent direct 2 ur mob? Join the UK's largest Dogging Network bt Txting GRAVEL to 69888! Nt. ec2a. 31p.msg@150p    1
spam\tMissed call alert. These numbers called but left no message. 07008009200                                                                                              1
Name: Label, Length: 824, dtype: int64

In [19]:
df_train = pd.DataFrame(list(zip(X_train,y_train)),columns=["Text",'Label'])
df_train.to_csv('Training Data.csv',index=False)

In [20]:
len(X_val),len(y_val)

(711, 711)

In [21]:
X_val.head()

855     None
75      None
3550    None
2803    None
232     None
Name: Text, dtype: object

In [22]:
y_val.head()

855     ham\tStop the story. I've told him i've return...
75       ham\tI am waiting machan. Call me once you free.
3550    ham\tI got like $ &lt;#&gt; , I can get some m...
2803    ham\tAnd smile for me right now as you go and ...
232            ham\tDear we are going to our rubber place
Name: Label, dtype: object

In [23]:
df_val = pd.DataFrame(list(zip(X_val,y_val)),columns=["Message",'Label'])
df_val.to_csv('Validation Data.csv',index=False)

In [24]:
len(X_test),len(y_test)

(837, 837)

In [25]:
X_test.head()

3690    None
3527    None
724     None
3370    None
468     None
Name: Text, dtype: object

In [26]:
y_test.head()

3690                       ham\tYou still coming tonight?
3527    ham\t"HEY BABE! FAR 2 SPUN-OUT 2 SPK AT DA MO....
724         ham\tYa even those cookies have jelly on them
3370    ham\tSorry i've not gone to that place. I.ll d...
468            ham\tWhen are you going to ride your bike?
Name: Label, dtype: object

In [27]:
df_test = pd.DataFrame(list(zip(X_test,y_test)),columns=["Message",'Label'])
df_test.to_csv('Test Data.csv',index=False)