# Assignment 1 : SMS Spam Classification
# Rishika Tibrewal, MDS202135

## Importing Libraries

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## Looking into the Data

In [15]:
raw_data = pd.read_csv("SMSSpamCollection",sep='\t',header=None)
raw_data.columns=['Label','Text']
raw_data.head()

  Label                                               Text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
raw_data.isna().sum()

Label    0
Text     0
dtype: int64

In [17]:
raw_data.groupby('Label').describe()

       Text
      count unique                                                top freq
Label
ham    4825   4516                             Sorry, I'll call later   30
spam    747    653  Please call our customer service representativ...    4

Assigning the label 'spam' as 1 and 'ham' as 0

In [19]:
raw_data.loc[raw_data.Label == 'spam', 'Label'] = 1
raw_data.loc[raw_data.Label == 'ham', 'Label'] = 0

## Splitting data into Training, Validation and Test Set and saving them as csv

In [22]:
X_train, X_test, y_train, y_test = train_test_split(raw_data.Text, raw_data['Label'], test_size=0.15, random_state=101)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.15, random_state=101)

In [23]:
len(X_train),len(y_train)

(4025, 4025)

In [24]:
X_train.head()

3331                          Send me yetty's number pls.
576     You have won ?1,000 cash or a ?2,000 prize! To...
4936    Hey babe, how's it going ? Did you ever figure...
4208                   Lets use it next week, princess :)
2219    Nice talking to you! please dont forget my pix...
Name: Text, dtype: object

In [25]:
y_train.head()

3331    0
576     1
4936    0
4208    0
2219    0
Name: Label, dtype: object

In [29]:
y_train.value_counts()

0    3479
1     546
Name: Label, dtype: int64

In [30]:
y_val.value_counts()

0    614
1     97
Name: Label, dtype: int64

In [31]:
y_test.value_counts()

0    732
1    104
Name: Label, dtype: int64

In [32]:
df_train = pd.DataFrame(list(zip(X_train,y_train)),columns=["Text",'Label'])
df_train.to_csv('Training Data.csv',index=False)

In [33]:
len(X_val),len(y_val)

(711, 711)

In [34]:
X_val.head()

3803            No da. I am happy that we sit together na
5076    This is the 2nd attempt to contract U, you hav...
2975           I'll text carlos and let you know, hang on
1547                Shant disturb u anymore... Jia you...
5272    Hello.How u doing?What u been up 2?When will u...
Name: Text, dtype: object

In [69]:
y_val.head()

3803    0
5076    1
2975    0
1547    0
5272    0
Name: Label, dtype: object

In [70]:
df_val = pd.DataFrame(list(zip(X_val,y_val)),columns=["Message",'Label'])
df_val.to_csv('Validation Data.csv',index=False)

In [71]:
len(X_test),len(y_test)

(836, 836)

In [72]:
X_test.head()

2373    watching tv lor funny bluff 4 wat izzit thk im...
1942    well done 4 costa del sol holiday 5000 await c...
54      sm ac sptv new jersey devil detroit red wing p...
1900                                    love working home
1564                     get ready put excellent sub face
Name: Message, dtype: object

In [73]:
y_test.head()

2373    0
1942    1
54      1
1900    0
1564    0
Name: Label, dtype: object

In [74]:
df_test = pd.DataFrame(list(zip(X_test,y_test)),columns=["Message",'Label'])
df_test.to_csv('Test Data.csv',index=False)