# Assignment 2 : SMS Spam Classification
# Rishika Tibrewal, MDS202135

## Importing Libraries

In [67]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.utils import resample

## Looking into the Data

In [68]:
raw_data = pd.read_csv('SMSSpamCollection',sep='\t',header=None)
raw_data.columns=['Label','Text']
raw_data.head()

  Label                                               Text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [69]:
raw_data.isna().sum()

Label    0
Text     0
dtype: int64

In [70]:
raw_data.groupby('Label').describe()

       Text
      count unique                                                top freq
Label
ham    4825   4516                             Sorry, I'll call later   30
spam    747    653  Please call our customer service representativ...    4

Assigning the label 'spam' as 1 and 'ham' as 0

In [71]:
raw_data.loc[raw_data.Label == 'spam', 'Label'] = 1
raw_data.loc[raw_data.Label == 'ham', 'Label'] = 0

In [72]:
raw_data.head()

  Label                                               Text
0     0  Go until jurong point, crazy.. Available only ...
1     0                      Ok lar... Joking wif u oni...
2     1  Free entry in 2 a wkly comp to win FA Cup fina...
3     0  U dun say so early hor... U c already then say...
4     0  Nah I don't think he goes to usf, he lives aro...

In [73]:
# spam=raw_data[raw_data["Label"]==1]
# ham=raw_data[raw_data["Label"]==0]
# spam_resamp=resample(spam,replace=True,n_samples=4825)

In [74]:
# merged=pd.concat([spam_resamp,ham])

In [75]:
# merged["Label"].value_counts()

## Splitting data into Training, Validation and Test Set and saving them as csv

In [76]:
X_train, X_test, y_train, y_test = train_test_split(raw_data.Text, raw_data['Label'], test_size=0.15, random_state=101)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.15, random_state=101)

In [77]:
## checking the data profile with seed 101
print("Train set - number of 0s:", sum(y_train == 0), "number of 1s:", sum(y_train == 1))
print("Validation set - number of 0s:", sum(y_val == 0), "number of 1s:", sum(y_val== 1))
print("Test set - number of 0s:", sum(y_test== 0), "number of 1s:", sum(y_test== 1))

Train set - number of 0s: 3479 number of 1s: 546
Validation set - number of 0s: 614 number of 1s: 97
Test set - number of 0s: 732 number of 1s: 104

In [78]:
df_train = pd.DataFrame(list(zip(X_train,y_train)),columns=["Text",'Label'])
df_test = pd.DataFrame(list(zip(X_test,y_test)),columns=["Text",'Label'])
df_val = pd.DataFrame(list(zip(X_val,y_val)),columns=["Text",'Label'])
df_val.to_csv('Data/Validation Data.csv',index=False) 
df_test.to_csv('Data/Test Data.csv',index=False) 
df_train.to_csv('Data/Training Data.csv',index=False)

## Working with Git and DVC to track data

In [80]:
# ! pip install dvc
# ! git init
# ! dvc init

In [82]:
# ! dvc add Data
# ! git add Data.dvc
# ! git commit -m "Tracking Data"

In [84]:
# ! dvc add remote -d storage gdrive://1-9G8HfilVIzrB_IjX_23lVsRAkH_eX9q
# ! dvc push

### Splitting the data into three parts again

In [85]:
X_train, X_test, y_train, y_test = train_test_split(raw_data.Text, raw_data['Label'], test_size=0.15, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.15, random_state=42)

In [86]:
## checking the data profile with seed 42
print("Train set - number of 0s:", sum(y_train == 0), "number of 1s:", sum(y_train == 1))
print("Validation set - number of 0s:", sum(y_val == 0), "number of 1s:", sum(y_val== 1))
print("Test set - number of 0s:", sum(y_test== 0), "number of 1s:", sum(y_test== 1))

Train set - number of 0s: 3471 number of 1s: 554
Validation set - number of 0s: 625 number of 1s: 86
Test set - number of 0s: 729 number of 1s: 107

In [87]:
df_train = pd.DataFrame(list(zip(X_train,y_train)),columns=["Text",'Label'])
df_test = pd.DataFrame(list(zip(X_test,y_test)),columns=["Text",'Label'])
df_val = pd.DataFrame(list(zip(X_val,y_val)),columns=["Text",'Label'])
df_val.to_csv('Data/Validation Data.csv',index=False) 
df_test.to_csv('Data/Test Data.csv',index=False) 
df_train.to_csv('Data/Training Data.csv',index=False)

In [89]:
# ! dvc add Data
# ! git add Data.dvc
# ! git commit -m "Seed Changes"
# ! dvc push

In [90]:
# ! git log --oneline

cc8e56a Seed Changes
4613939 Tracking Data
74b7945 Tracking Data

Getting the first version i.e, seed 101

In [91]:
# ! git checkout HEAD^1 Data.dvc      
# ! dvc checkout

error: pathspec 'HEAD1' did not match any file(s) known to git

In [92]:
train = pd.read_csv('Data/Training Data.csv')
val = pd.read_csv('Data/Validation Data.csv')
test = pd.read_csv('Data/Test Data.csv')

In [93]:
## checking the data profile before update
print("Train set - number of 0s:", sum(train['Label'] == 0), "number of 1s:", sum(train['Label'] == 1))
print("Validation set - number of 0s:", sum(val['Label'] == 0), "number of 1s:", sum(val['Label'] == 1))
print("Test set - number of 0s:", sum(test['Label'] == 0), "number of 1s:", sum(test['Label'] == 1))

Train set - number of 0s: 3471 number of 1s: 554
Validation set - number of 0s: 625 number of 1s: 86
Test set - number of 0s: 729 number of 1s: 107

Getting the second version i.e, seed 42

In [94]:
# ! git checkout HEAD Data.dvc      
# ! dvc checkout

Updated 0 paths from 8d0c209

In [95]:
train = pd.read_csv('Data/Training Data.csv')
val = pd.read_csv('Data/Validation Data.csv')
test = pd.read_csv('Data/Test Data.csv')

In [96]:
## checking the data profile before update
print("Train set - number of 0s:", sum(train['Label'] == 0), "number of 1s:", sum(train['Label'] == 1))
print("Validation set - number of 0s:", sum(val['Label'] == 0), "number of 1s:", sum(val['Label'] == 1))
print("Test set - number of 0s:", sum(test['Label'] == 0), "number of 1s:", sum(test['Label'] == 1))

Train set - number of 0s: 3471 number of 1s: 554
Validation set - number of 0s: 625 number of 1s: 86
Test set - number of 0s: 729 number of 1s: 107