In [255]:
%matplotlib inline
import matplotlib.pyplot as plt
import csv
import pandas as pd
import nltk
import re
import string
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
from nltk.corpus import stopwords
nltk.download('wordnet')
nltk.download('omw-1.4')
import numpy as np
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [256]:
data = pd.read_csv('SMSSpamCollection.txt',sep='\t',header=None)
data.columns=['Label','Text']
data.head()

  Label                                               Text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [257]:
data.groupby('Label').describe()

       Text
      count unique                                                top freq
Label
ham    4825   4516                             Sorry, I'll call later   30
spam    747    653  Please call our customer service representativ...    4

In [258]:
data.isna().sum()

Label    0
Text     0
dtype: int64

In [259]:
word_tokens=[]
regex=r"\w+"
for i in range(len(data['Text'])):
  word_tokens.append(re.findall(regex,data.Text[i]))

In [260]:
filtered_word_tokens=[]
lemmatizer = WordNetLemmatizer()
for i in range(len(word_tokens)):

  temp=[]

  for j in range(len(word_tokens[i])):
        
    if word_tokens[i][j].lower() in stop_words:
      continue
      
    elif word_tokens[i][j] in string.punctuation:
      continue
            
    else:
      temp.append(lemmatizer.lemmatize(word_tokens[i][j].lower()))   

  filtered_word_tokens.append(temp)

In [261]:
data['Preprocessed']=filtered_word_tokens

In [262]:
data.head()

,Label,Text,Preprocessed
0,ham,"Go until jurong point, crazy.. Available only ...","[go, jurong, point, crazy, available, bugis, n..."
1,ham,Ok lar... Joking wif u oni...,"[ok, lar, joking, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin..."
3,ham,U dun say so early hor... U c already then say...,"[u, dun, say, early, hor, u, c, already, say]"
4,ham,"Nah I don't think he goes to usf, he lives aro...","[nah, think, go, usf, life, around, though]"

In [263]:
X_train, X_test, y_train, y_test = train_test_split(data['Preprocessed'], data['Label'], test_size=0.2, random_state=1)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=1)

In [264]:
len(X_train),len(y_train)

(3342, 3342)

In [265]:
X_train.head()

562                       [thanx, 4, e, brownie, v, nice]
3428                    [haha, okay, today, weekend, leh]
769        [cant, pick, phone, right, pls, send, message]
3491    [huh, got, lesson, 4, lei, n, thinkin, going, ...
3270               [raviyog, peripheral, bhayandar, east]
Name: Preprocessed, dtype: object

In [266]:
y_train.head()

562     ham
3428    ham
769     ham
3491    ham
3270    ham
Name: Label, dtype: object

In [267]:
df_train = pd.DataFrame(list(zip(X_train,y_train)),columns=["Preprocessed",'Label'])
df_train.to_csv('Training Data.csv',index=False)

In [268]:
len(X_val),len(y_val)

(1115, 1115)

In [269]:
X_val.head()

1562    [dnt, worry, use, ice, piece, cloth, pack, als...
3738    [plz, note, anyone, calling, mobile, co, amp, ...
5163                               [ok, leave, need, ask]
3860    [win, newest, harry, potter, order, phoenix, b...
979                        [hey, pay, salary, de, lt, gt]
Name: Preprocessed, dtype: object

In [270]:
y_val.head()

1562     ham
3738     ham
5163     ham
3860    spam
979      ham
Name: Label, dtype: object

In [271]:
df_val = pd.DataFrame(list(zip(X_val,y_val)),columns=["Preprocessed",'Label'])
df_val.to_csv('Validation Data.csv',index=False)

In [272]:
len(X_test),len(y_test)

(1115, 1115)

In [273]:
X_test.head()

1078                             [yep, pretty, sculpture]
4028                   [yes, princess, going, make, moan]
958                           [welp, apparently, retired]
4642                                             [havent]
4674    [forgot, 2, ask, Ã¼, smth, card, da, present, l...
Name: Preprocessed, dtype: object

In [274]:
y_test.head()

1078    ham
4028    ham
958     ham
4642    ham
4674    ham
Name: Label, dtype: object

In [275]:
df_test = pd.DataFrame(list(zip(X_test,y_test)),columns=["Preprocessed",'Label'])
df_test.to_csv('Test Data.csv',index=False)